.row {
  max-width: 124rem;
  margin: 0 auto; }
  @media screen and (max-width: 40rem) {
    .row {
      width: auto; } }
  @media screen and (min-width: 120rem) {
    .row {
      width: auto; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    .row .col-1-of-4 .col-3-of-4 {
      width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem ); }

/*CHARTEUI*/
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  50% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes disparition {
  100% {
    opacity: 1;
    transform: translate(0); }
  70% {
    transform: translateY(1rem); }
  0% {
    opacity: 0;
    transform: translateY(-20rem); } }
.grid {
  max-width: 100rem;
  background-color: red;
  height: auto; }

.grid-item {
  width: 465px; }

.grid-item--width2 {
  width: 930px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 94%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

/*LAYOUTGENERAL*/
.header {
  background-color: #FFDB56;
  padding: 0;
  margin: 0;
  height: 12rem;
  position: relative; }
  .header_logo {
    padding-top: 2rem;
    padding-left: 2rem;
    display: block;
    width: 100px;
    height: 100px;
    float: left; }
  .header_maintitle {
    float: left;
    padding-left: 2rem;
    padding-top: 2rem;
    line-height: 1.3em; }
    .header_maintitle__name::first-letter {
      text-transform: uppercase; }

/*SECTION*/
.presentationlight {
  background-image: url(../img/imgdesk.jpg);
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto; }

.presentationportolio {
  background-image: url(../img/image2.jpg);
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto; }

.centred {
  padding-top: 24vh; }

.featured {
  text-align: center;
  min-height: 60vh; }

.subcomp {
  display: inline-block; }

.about {
  background-color: #8CE8BD;
  min-height: 60vh;
  clear: both;
  text-align: center;
  padding-top: 20vh; }

.round {
  border-radius: 50%; }

/*FEATUREDICONES*/
.illu {
  background-image: url(../img/ux.svg);
  background-position: center;
  background-size: 97% 97%;
  width: 154px;
  height: 164px; }

.illu-1 {
  background-image: url(../img/design.svg);
  background-position: center;
  background-size: cover;
  width: 154px;
  height: 164px; }

.illu-2 {
  background-image: url(../img/coding.svg);
  background-position: center;
  background-size: cover;
  width: 154px;
  height: 164px; }

img {
  max-width: 100%; }

/*TITRES*/
.presentationlight {
  font-size: 1.8em;
  color: #FFFFFF;
  word-spacing: 0.2em;
  text-align: center; }

.secondtitle {
  margin-top: 12vh;
  margin-bottom: 12vh;
  font-size: 2.2em;
  text-align: center; }

h4 {
  padding-top: 10vh;
  text-transform: uppercase;
  color: #9F9798;
  vertical-align: baseline; }

/*PARAGRAPHES*/
.mainpara {
  font-size: 1em;
  line-height: 1.5em; }

/*ANIMATION MAINTITLE*/
.header_maintitle__name {
  animation-name: apparition;
  animation-duration: 4s;
  animation-timing-function: ease-in-out; }

.header_maintitle__activity {
  animation-name: apparition;
  animation-duration: 5s;
  animation-timing-function: ease-in-out; }

/*NAVIGATION*/
.navigation {
  /*FUNCTIONALITY*/
  /*les trois barres*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #FFFFFF;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    box-shadow: 1px 1px 10px #9F9798;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 1000;
    background-color: #FFDB56; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    animation-name: disparition; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    /*ENDNAV*/ }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
      background-size: 220%;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #9F9798;
      transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 2.2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 2px;
      background-color: #9F9798;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.6rem; }
    .navigation__icon::after {
      top: .6rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

/*BOUTONS*/
.btn_1 {
  margin-top: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #fff;
  font-size: 1em;
  font-weight: 400;
  width: 10rem;
  text-decoration: none;
  text-align: center; }
  .btn_1:hover {
    box-shadow: 1px 1px 5px #fff;
    font-weight: 600; }

/*# sourceMappingURL=style.css.map */
