@import "layout";
@import "variables";

$color-gris-warm:#9F9798;
//header
$color-jaune-light:#FFDB56;
//footer
$color-black-light:#464646;






*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size:94%;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;

}


// div {
//   width:100%;
//   height: 10vh;
//   background-color:red;
//   border: 1px solid #000;
// }


.header {
  background-color: $color-jaune-light;
  padding:0;
  margin:0;
  height:10vh;
}



/*SLIDER*/

#container {
  background-color:$color-gris-warm;
  min-height:400px;
  width:100%;
  padding-bottom:2em;

}




.slider {
  // min-height:500px;
  background-color: $color-gris-warm;
}





.containerone__right{
  width: 30%;
  height:auto;
  position: absolute;
  left:60%;
  top: 10%;
  }



  .tagline {
    padding-top: 2em;
    padding-left: 2em;
  }



/*BUTTONS SLIDER*/

.btn_container {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &_btnleft {
    text-align: center;
    display:block;
    margin-right: 1em;
    width:5rem;
    height: 2rem;
    border-radius: 0.23em;
    &:hover{
      font-weight:500;
    }
  }
}
