/*CHARTEUI*/
//pictos visualgraphic

$color-gris-warm:#9F9798;
//header
$color-jaune-light:#FFDB56;
//footer
$color-black-light:#464646;
$color-turc_light:#9AFFD0;


//grid masonry


//responsive
$width-portrait:800px;
$width-paysage:1200px;
$width-mobile:400px;



//typography

$font-sans:"Open Sans",sans-serif;
$color-white:#FFFFFF;
$color-black:#000;
